* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  margin: 0;
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: #a07555;
  background: linear-gradient(#a07555, #d6b7a1);
}
.title {
  width: 100%;
  height: auto;
  margin: 15px 0;
}
.glow {
  color: transparent;
  font-family: 'Damion', cursive;
  font-size: 72px;
  text-align: center;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: glow;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-name: glow;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  text-rendering: optimizeLegibility;
}
@-webkit-keyframes glow {
  from { text-shadow: 0 0 0px transparent; }
  to { text-shadow: 0 0 0.1px #b5cfdb; }
}
.timer-group {
  width: 27.97%;
  height: auto;
  padding: 2vw;
  align-self: center;
  background: #b5cfdb;
  background: linear-gradient(#b5cfdb, #6c7478);
  border-radius: 3px;
  box-shadow: 0px 4px #5d5959, 0px 10px 15px rgba(0, 0, 0, 0.4);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
