.loader {
  text-align: center;
  vertical-align: middle;
}
.coffee-list-group {
  display: flex;
  align-self: center;
  justify-content: center;
  box-sizing: border-box;
  height: auto;
  width: auto;
  transition: all 0.2s ease-in;
  background-color: rgba(255, 248, 220, 0.4);
  border-radius: 5px;
  overflow: scroll;
}
/* .coffee-list-group > ul {
/*   background-color: rgba(255, 248, 220, 0.4);
/*   width: 90%;
/*   border-radius: 5px;
/*   overflow: scroll;
/* }
 */
.coffee-detail {
  height: 50%;
  margin: 7.5px;
  border-radius: 10px;
  padding: 14px;
  font: 14px 'Lucida Grande';
  background-color: rgba(255, 248, 220, 0.6);
  color: rbga(34, 34, 34, 1);
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease-in;
  justify-content: space-between;
  background: linear-gradient(to bottom,  rgba(255, 248, 220, .6) 70%, rgba(0, 0, 0, 0) 100%); /* W3C */
}
.coffee-detail:hover {
  background-color: rgba(255, 248, 220, 1);
  color: rbga(34, 34, 34, 1);
}
.coffee-detail h3 {
  font-style: italic;
}
.coffee-detail-parameters {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.coffee-detail-parameters > div {
  margin: 7.5px 0;
}
.coffee-detail-parameters label {
  display: block;
}
.coffee-detail-parameters input {
  background-color: gainsboro;
  color: #222;
  font: 16px 'Lucida Grande';
  text-align: center;
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
  height: 18px;
  width: 60%;
  border-radius: 15px;
}
.selected-coffee-detail {
  background-color: rgba(181, 207, 219, 1);
  width: 100%;
  border-radius: 5px;
  padding: 14px;
  font: 14px 'Lucida Grande';
}
.selected-coffee-detail h2 {
  font-family: 'consolas';
}
.selected-coffee-detail h3 {
  font: 12px 'consolas';
  font-style: italic;
}
