.timer-face {
  margin: 0 auto;
  padding: 1.5vh 1.7vw;
  width: 95%;
  background-color: gainsboro;
  color: #222;
  text-align: right;
  height: 10vw;
  border-radius: 3vw;
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.4);
  font-family: 'Segment7Standard', monospace;
  font-weight: normal;
  font-style: italic;
  font-size: 9vw;
}
