* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  margin: 0;
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: #a07555;
  background: linear-gradient(#a07555, #d6b7a1);
}
.timer-group {
  width: 27.97%;
  height: auto;
  padding: 2vw;
  align-self: center;
  background: #b5cfdb;
  background: linear-gradient(#b5cfdb, #6c7478);
  border-radius: 3px;
  box-shadow: 0px 4px #5d5959, 0px 10px 15px rgba(0, 0, 0, 0.4);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
