* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  margin: 0;
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: #a07555;
  background: linear-gradient(#a07555, #d6b7a1);
}
.timer-group {
  width: 27.97%;
  height: auto;
  padding: 2vw;
  align-self: center;
  background: #b5cfdb;
  background: linear-gradient(#b5cfdb, #6c7478);
  border-radius: 3px;
  box-shadow: 0px 4px #5d5959, 0px 10px 15px rgba(0, 0, 0, 0.4);
}
.timer {
  margin: 0 auto;
  padding: 0 1.7vw;
  width: 95%;
  background-color: gainsboro;
  color: #222;
  text-align: right;
  height: 10vw;
  line-height: 13.5vh;
  border-radius: 3vw;
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.4);
  font-family: 'Segment7Standard', monospace;
  font-weight: normal;
  font-style: italic;
  font-size: 9vw;
}

.button-group {
  padding: 1vw;
  text-align: center;
}
.button {
  background: gainsboro;
  background: linear-gradient(white, rgba(10, 10, 10, .1));
  border-radius: 3vw;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 2px #5d5959;
  width: 5vw;
  height: 3.2vh;
  color: #222;
  user-select: none;
  font-family: 'Courgette', cursive;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  transition: all 0.2s ease;
}
.button:hover {
  color: gainsboro;
  box-shadow: 1px 4px rgba(220, 220, 220, .6);
}
.button:active {
	color: #222;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
